# Dependencies
node_modules/
.pnpm-store/

# Builds
.next/
out/
dist/
build/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Foundry
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/
